.container-fluid{
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	height: 100%;	
}
/*nav*/
.menu_bar {
  display:none;
}
 
.barra-de-navegacion {
  width: 100%;
  position: fixed;
  z-index: 100000;
}
 
.barra-de-navegacion nav {
  background-color:white;
  z-index:1000;
  width:100%;
    ul {
      list-style:none;  
      text-align: right;
      padding-right: 4%;
          li {
       display:inline-block;
       position: relative;
     }
   } 
}


.barra-de-navegacion nav ul li a {
  display:block;
  text-decoration:none;
  padding: 10px 15px;    
  color: black;
}
 
.barra-de-navegacion nav ul li a span {
  margin-right:10px;
}
 
.barra-de-navegacion nav ul li:hover .children {
  display:block;
}
 
.barra-de-navegacion nav ul li .children {
  display: none;
  background-color:  #57c4f1;;
  position: absolute;
  width: 150%;
  z-index:1000;
  text-align: center;
  padding: 0;
}
 
.barra-de-navegacion nav ul li .children li {
  display:block;
  overflow: hidden;
  border-bottom: 1px dashed rgba(255,255,255,.5);

}
 
.barra-de-navegacion nav ul li .children li a {
  display: block;
}
 
.barra-de-navegacion nav ul li .children li a span {
  float: right;
  position: relative;
  top:3px;
  margin-right:0;
  margin-left:10px;
}
 
.barra-de-navegacion nav ul li .caret {
  position: relative;
  top:3px;
  margin-left:10px;
  margin-right:0px;
}
 
 .submenu{
   display: none;
      button {
      width: 60px;
      height: 40px;
      border-radius: 25px;
      border: 1px solid black;
      background-color: transparent;
      color: black;
    }
}
.ingresar{
  display: none;
   a button {  
  width: 95px;
  height: 35px;
  border-radius: 12px;
  border: 0;
  background-color: grey;
  color: white;
  font-weight: 700;
  }
}
@media screen and (max-width: 800px) {
  body {
    padding-top:40px;
  }
 
  .menu_bar {
    display:block;
    width:100%;
    position: fixed;
    top:0;
    background-color: #F7F7F7;
  }
 
  .menu_bar .bt-menu {
    display: block;
    padding: 10px;
    color: black;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }
 
  .menu_bar span {
    float: right;
    font-size: 40px;
  }
 
  .barra-de-navegacion nav {
    width: 100%;
    height: calc(150% - 100px);
    position: fixed;
    right:100%;
    margin: 0;  
    top: 55px;  
    background-color: rgb(87, 196, 241)
  }
 
  .barra-de-navegacion nav ul li {
    display: block;
    border-bottom:3px dashed rgba(255,255,255,.5);
    padding: 10%;
    text-align: center;
    font-size: 30px;
  }
 
  .barra-de-navegacion nav ul li a {
    display: block;
    color: white;
  }
 
  .barra-de-navegacion nav ul li:hover .children {
    display: none;
  }
 
  .barra-de-navegacion nav ul li .children {
    width: 100%;
    position: relative;
  }
 
  .barra-de-navegacion nav ul li .children li a {
    margin-left:20px;
  }
 
  .barra-de-navegacion nav ul li .caret {
    float: right;
  }
}

/*celular*/

.boton2{
  width: 30%;
  background-color: rgba(249, 6, 13, 0.84);
  padding: 8px;
  border-radius: 14px;
  color: white;
  left: 64%;
  position: absolute;
  top: 14px;
  text-align: center;
    h3{
        margin: 0;
        font-size: 13px;
         font-family: Lato;
    }

}

.portada{
  background-image: url(../fotos/img/img_nosotros-02.png);
  background-size: cover;
  .fondo{
    text-align: center;
    padding: 5%;
    .texto{
      padding: 5% 24% 22%;
      color: white;
      h1{
        margin: 6%;
      }
      h3{
        margin: 1%;
      }      
    }
  }
}
.portada2{
  background-image: url(../fotos/img/nosotros.png);
  background-size: cover;
  .fondo2{
    text-align: center;
    padding: 15% 5%;
    .texto2{
      padding: 5% 17% 43%;
      color: white;
      h1{
        margin: 6% 0;
        font-size: 38bpx;
        font-weight: 500;
      }
      h3{
        margin: 1%;
        line-height: 29px;
        font-size: 20px;
      }      
    }
  }
}
.flecha{
  position: relative;
  top: -5%;
  text-align: center;
   img{
      position: absolute;
      border-radius: 50%;
      margin: 0 auto;
      left: 48%;
   }
}
.container.equipo {
  padding: 8% 8% 1%;
    h1.text-center {
    margin: 4%;
    }
    .grid {
    padding: 5% 0;
    text-align: center;  
    .col-md-6 {
     padding: 10px 0;    
       .img-circle {
        border-radius: 50%;
        border: 1px solid grey;
        width: 60%;
        height: 26%;
        margin-bottom: 3%;
        padding: 6px;
        }
        h3 {
        color: skyblue;
        font-weight: 700;
        }
        h4 {
        margin-bottom: 10%;
        color: grey;
        font-weight: 700;
        }
        p {
        margin: 0 0 10px;
        line-height: 25px;
        font-size: 16px;
        color: grey;
        font-weight: 300;
        }
     }
  }
}
.container.equipo2 {
  padding: 8% 8% 1%;
    h1.text-center {
    margin: 4%;
    }
    .grid {
    padding: 5% 0;
    text-align: center;
     .col-md-4 {
     padding: 10px 20%;
       .img-circle {
        border-radius: 50%;
        border: 1px solid grey;
        width: 60%;
        height: 26%;
        margin-bottom: 3%;
        padding: 6px;
        }
        h3 {
        color: skyblue;
        font-weight: 700;
        }
        h4 {
        margin-bottom: 10%;
        color: grey;
        font-weight: 700;
        }
        p {
        margin: 0 0 10px;
        line-height: 25px;
        font-size: 16px;
        color: grey;
        font-weight: 300;
        }
    }
  }
}
hr.container {
border-top: 1px dashed black;
}
.container.asesores {
  padding: 5% 12% 3%;
     h1.text-center {
     margin: 5%;
     }
  .grid {
  padding: 5% 0;
  text-align: center;
    .col-md-6 {
    padding: 0 46px;
     .img-circle {
      border-radius: 50%;
      border: 1px solid grey;
      width: 54%;
      height: 27%;
      margin-bottom: 3%;
      padding: 6px;
      }
      h3 {
      color: skyblue;
      font-weight: 700;
      }
      h4 {
      margin-bottom: 10%;
      color: grey;
      font-weight: 700;
      }
      p {
      margin: 0 0 10px;
      line-height: 25px;
      font-size: 16px;
      color: grey;
      font-weight: 300;
      }
    }
  }

}
.test {
  padding: 4% 8% 1%;
    h1.text-center {
    margin: 4%;
    }
    .grid {
    padding: 5% 0;
    text-align: center;
        h3 {
        color: skyblue;
        font-weight: 700;
        }
        h4 {
        margin-bottom: 10%;
        color: grey;
        font-weight: 700;
        }
        p {
        margin: 0 0 10px;
        line-height: 25px;
        font-size: 16px;
        color: grey;
        font-weight: 300;
        }
  }
}

section.red {
background-color: rgb(204, 92, 57);
}
.container.foco {
   text-align: center;
   padding: 10% 22%;
      hr {
      border-top: 1px dashed #eeeeee;
      margin-top: 7%;
      margin-bottom: 8%;
        width: 56%;
   }
   .h1-1{
    color: white;
    font-weight: 400;
    }
    .h1-2{
      color: white;
      font-size: 30px;
      font-weight: 500;
    }
    .h1-3{
      color: white;
      font-size: 30px;
    }
    p {
    color: white;
    font-size: 18px;
    }
}
.footer{
  color: #777777;
  background-color: #989898;
  height: 49px;
   .redes{
    padding-left: 21px;
    float: left;
     ul{
      padding-left: 0;
      list-style: none;
      margin-bottom: 0;
      margin-top: 0;
       li{
        padding-left: 7px;
        position: relative;
        top: -14px;
        display: inline-block;
         img{
          padding: 2px;
          border-radius: 50%;
          background-color: #fff;
          border: 1px solid #ddd;
         }
       }
     }
   }
   .redes2{
     ul{
      list-style: none;
      text-align: center;
      padding: 0;
       li{
        padding-left: 7px;
        position: relative;
        top: -14px;
        display: inline-block;
         img{
          padding: 2px;
          border-radius: 50%;
          background-color: #fff;
          border: 1px solid #ddd;
         }
       }
     }
   }
   .reservar{
    float: right;
    width: 21%;
    padding: 12px;
     h5{
      color: white;
      font-size: 17px;
      margin: 1%;
     }
   }
}



















































